.LandingPage {
  text-align: center;
  height: 88vh;
  overflow-y: hidden;

  .Header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      color: #357cf2;
    }
  }

  .Bottom {
    height: 50vh;
    width: 100%;

    .Overlay {
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        0deg,
        #000000 0%,
        rgba(0, 0, 0, 0.9) 21.88%,
        rgba(0, 0, 0, 0) 100%
      );
      height: 100px;
      width: 100%;
      z-index: 1;
    }

    .Images {
      display: flex;
      justify-content: space-between;
      position: relative;

      img {
        width: 220px;
        height: 49vh;
        object-fit: cover;
        border-radius: 8px;

        &:nth-child(2n + 2) {
          margin-top: 5em;
        }

        &:nth-child(3) {
          margin-top: 12em;
        }
      }
    }
  }
}
