.Liked {
  background-color: #141417;
  height: 82vh;
  border-radius: 8px;
  position: sticky;
  z-index: 0;
  top: 6.5em;
  display: grid;
  grid-template-rows: 8% 78%;
  overflow-y: scroll;

  @media screen and (max-width: 900px) {
    display: none;
  }

  @media screen and (min-height: 900px) {
    top: 11.8vh;
  }

  scrollbar &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 8px;
  }

  h4 {
    padding: 1.2em 20px;
    align-self: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    position: absolute;
    justify-self: center;
    align-self: center;
  }

  .LikedPictures {
    align-self: start;
    justify-self: start;
    width: 100%;
    border-top: 1px solid #333;

    .LikedPicture {
      border-bottom: 1px solid #333;
      border-width: 1px 0;
      padding: 0.8em 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow-y: hidden;
      background-color: rgba(255, 255, 255, 0.02);

      .Left {
        display: flex;
        align-items: center;
      }

      button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }

      svg {
        opacity: 0.4;
        width: 16px;
        cursor: pointer;
        transition: all 200ms;

        &:hover {
          transform: scale(1.1);
          opacity: 0.5;
        }
      }

      .Left {
        .LeftImg {
          width: 50px;
          height: 50px;
          margin-right: 1em;
        }
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
