:host {
  --background-color: #f7f7f7;
  --border-color: #dddddd;
  --container-padding: 6px 20px;
  --hover-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  --main-color: rgb(34, 34, 34);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  box-sizing: border-box;
}

@mixin Box-Styling() {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.Container {
  position: relative;
  margin: 0;
  padding: var(--container-padding);
  outline: none;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  @include Box-Styling();

  &:hover {
    box-shadow: var(--hover-shadow);
  }

  &:focus-visible {
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px, rgb(34 34 34) 0px 0px 0px 4px;
  }
}

.Value {
  flex-grow: 1;
  display: flex;
  gap: 0.4em;
  max-height: 52px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.ButtonContainer {
  display: flex;
  gap: 0.4em;
  margin: 4px;
}

.Divider {
  align-self: stretch;
  width: 1px;
  background-color: var(--border-color);
}

.Caret {
  border: 0.25em solid transparent;
  border-top-color: var(--main-color);
  translate: 0 25%;
}

.OptionsList {
  position: absolute;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  width: 100%;
  left: 0;
  top: calc(100% + 0.5em);
  background-color: white;
  z-index: 100;
  transition: all 3s ease;

  @include Box-Styling();
}

.OptionsList.ShowOptions {
  display: block;

  .Container {
    &:focus-visible {
      box-shadow: rgb(255 255 255) 0px 0px 0px 2px,
        rgb(34 34 34) 0px 0px 0px 4px;
    }
  }
}

.Option {
  cursor: pointer;
  padding: var(--container-padding);
  transition: all 0.2s ease;
}

.Highlighted {
  color: black;
  font-weight: bold;
  background-color: var(--background-color);
}

.Option.Selected {
  background-color: var(--background-color);
  color: black;
}
