.FeedPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
  overflow: hidden;
  height: 86vh;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 1;
  }
}
