.Feed {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

  .Image {
    position: relative;

    .Header {
      position: absolute;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.2em;
      width: 95%;

      .Information {
        p {
          margin: 0.5em 0;
        }
      }

      .Button {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .Overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 130px;
      background: linear-gradient(
        0deg,
        #000000 0%,
        rgba(0, 0, 0, 0.6) 55%,
        rgba(0, 0, 0, 0) 100%
      );
      border-radius: 0px 0px 8px 8px;
      z-index: 1;
    }

    .LinkContainer {
      display: grid;
      position: relative;

      .LinkOverlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        opacity: 0;
        border-radius: 8px;
        transition: all 0.2s ease;
      }

      h2 {
        opacity: 0;
        transition: all 0.2s ease;
      }

      img {
        height: 350px;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .LinkContainer:hover {
      h2 {
        opacity: 1;
      }

      .LinkOverlay {
        opacity: 1;
      }
    }
  }
}
