.Feed {
  grid-column: 2/4;

  .OftheDay {
    margin-bottom: 2em;
  }

  .Title {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.8em;
  }

  .Pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    overflow-x: hidden;

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-gap: 3em;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .NoData {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4em 0;
  }
}
