.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background-color: var(--background-color);
  padding-bottom: 2em;
  position: sticky;
  top: 0;
  z-index: 5;

  .Logo {
    width: 130px;

    @media screen and (max-width: 700px) {
      width: 100px;
    }
  }

  a {
    cursor: pointer;
  }

  ul {
    display: flex;

    li {
      margin-right: 4em;
      transition: all 0.1s ease-in-out;

      @media screen and (max-width: 700px) {
        margin-right: 1.5em;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
